a {
    text-decoration: none;
}

.blass {
    color: darkgrey;
}

.tt {
    font-family: monospace;
}

thead > th:not(.sorted)::after {
    content: "▼";
    color: transparent;
}

.sorted[data-sort="0"]::after {
    content: "▼";
}
.sorted[data-sort="1"]::after {
    content: "▲";
}

tr > * + * {
    text-align: right;
}
tr > *:last-child {
    padding-left: 3em;
    text-align: left;
}

tfoot > tr > th:first-child {
    vertical-align: baseline;
}